{{define "title"}}Family Vault{{end}}
{{define "main"}}
<main>
  <h1>Paz Target Saver</h1>
  <p>Explore all our savings plans here.</p>

  <div class="main-content">
    <article class="savings-balance">
      <h2>Total savings balance</h2>
      <p>N 2,000,000.00</p>
    </article>

    <div class="target-saver-plans-container">
      <div class="target-saver-plan">
	<h2>Project New Car</h2>
	<p>I must buy camaro</p>
	<p>N 500,000.00</p>
	<div class="target-saver-plans-lower-container">
          <p class="target-saver-plans-lower-container-progress"></p>
          <p class="target-saver-plans-lower-container-completion"></p>
	</div>
      </div>

      <div class="target-saver-plan">
	<h2>House Rent Runs</h2>
	<p>Rent savings quota</p>
	<p>N 1,500,000.00</p>
	<div class="target-saver-plans-lower-container">
          <p class="target-saver-plans-lower-container-progress"></p>
          <p class="target-saver-plans-lower-container-completion"></p>
	</div>
      </div>
    </div>
  </div>
</main>
{{end}}
