{{define "title"}}Thrift{{end}}
{{define "head"}}
<link href="/static/css/thrift.css" rel="stylesheet"/>
{{end}}
{{define "main"}}
<main>
  <div class="thrift-heading-container">
    <div class="thrift-heading-container-left">
      <h1>Thrift</h1>
      <p>Leverage on the strength of a group of savers.</p>
    </div>
    <div class="thrift-heading-container-right">
      <a class="button primary" href="/dashboard/thrift/new">Start a thrift group +</a>
    </div>
  </div>

  <section class="thrift-plans-container">
    <article class="thrift-plan">
      <div class="thrift-plan-heading">
	<h2>Southern Sisters</h2> 
	<p>Women helping women, sisters helping sisters.</p>
      </div>
      <div class="thrift-plan-middle">
	<p>&#8358; 5,000.00</p>
	<p>Per person/monthly</p>
      </div>
      <div class="thrift-plan-bottom">
        <p class="thrift-plan-owner-status">Group owner</p>
	<p class="thrift-plan-member-amount"><strong>10</strong> members</p>
      </div>
    </article>

    <article class="thrift-plan">
      <div class="thrift-plan-heading">
	<h2>Southern Sisters</h2> 
	<p>Women helping women, sisters helping sisters.</p>
      </div>
      <div class="thrift-plan-middle">
	<p>&#8358; 5,000.00</p>
	<p>Per person/monthly</p>
      </div>
      <div class="thrift-plan-bottom">
        <p class="thrift-plan-owner-status">Group owner</p>
	<p class="thrift-plan-member-amount"><strong>10</strong> members</p>
      </div>
    </article>

    <article class="thrift-plan">
      <div class="thrift-plan-heading">
	<h2>Southern Sisters</h2> 
	<p>Women helping women, sisters helping sisters.</p>    
      </div>
      <div class="thrift-plan-middle">
	<p>&#8358; 5,000.00</p>
	<p>Per person/monthly</p>
      </div>
      <div class="thrift-plan-bottom">
        <p class="thrift-plan-owner-status">Group owner</p>
	<p class="thrift-plan-member-amount"><strong>10</strong> members</p>
      </div>
    </article>

    <article class="thrift-plan">
      <div class="thrift-plan-heading">
	<h2>Southern Sisters</h2> 
	<p>Women helping women, sisters helping sisters.</p>
      </div>
      <div class="thrift-plan-middle">
	<p>&#8358; 5,000.00</p>
	<p>Per person/monthly</p>
      </div>
      <div class="thrift-plan-bottom">
        <p class="thrift-plan-owner-status">Group owner</p>
	<p class="thrift-plan-member-amount"><strong>10</strong> members</p>
      </div>
    </article>
  </section>
</main>
{{end}}
