{{define "title"}}Savings{{end}}
{{define "head"}}
  <link href="/static/dashboard/savings.css" rel="stylesheet"/>
{{end}}
{{define "main"}}
<main>
  <h1>Savings</h1>
  <p>Explore all our savings plans here</p>

  <div class="savings-info-card">
    <h2>Total Balance</h2>
    <p>&#8358; {{.Balance}}</p>
  </div>

  <div class="savings-plans-container">
    <div class="savings-plans">
      <img alt="" src=""/>
      <div class="savings-plans-right-side">
        <h2>Paz Solo Saver</h2>
        <p>Save money regularly in a locked plan with interest of up to 12% per annum.</p>
        <a class="button primary" href="/dashboard/savings/solo-saver">Start now</a>
      </div>
    </div>
    <!-- <div class="savings-plans"> -->
    <!--   <img alt="" src=""/> -->
    <!--   <div class="savings-plans-right-side"> -->
    <!--     <h2>Paz Family Vault</h2> -->
    <!--     <p>Save money together with your loved ones and get interest of up to 16% per annum. </p> -->
    <!-- 	<a href="/dashboard/savings/family-vault" class="button primary">Start now</a> -->
    <!--   </div> -->
    <!-- </div> -->
    <!-- <div class="savings-plans"> -->
    <!--   <img alt="" src=""/> -->
    <!--   <div class="savings-plans-right-side"> -->
    <!--     <h2>Paz Target Saver</h2> -->
    <!--     <p>Save money regularly in a locked plan with interest of up to 12% per annum.</p> -->
    <!-- 	<a href="/dashboard/savings/target-savings" class="button primary">Start now</a> -->
    <!--   </div> -->
    </div>
  </div>
</main>
{{end}}
