{{define "title"}}Loans{{end}}
{{define "head"}}
<link href="/static/dashboard/loans.css" rel="stylesheet"/>
{{end}}
{{define "main"}}
<main>
  <h1>Loans</h1>
  <p>Explore all our loan options here</p>

  <div class="loans-info-card">
    <h2>Loan Balance</h2>
    <p>&#8358; 0.00</p>
  </div>

  <div class="loans-plans-container">
    <div class="loans-plans">
      <img alt="" src=""/>
      <div class="loans-plans-right-side">
        <h2>Instant Loans</h2>
        <p>Get money fast against impromptu financial situations at 4% interest per month.</p>
      <button class="primary">Get loan</button>
      </div>
    </div>
  </div>
</main>
{{end}}
