{{define "title"}}Family Vault{{end}}
{{define "main"}}
<main>
  <h1>Paz Family Vault</h1>
  <p>Explore all our savings plans here.</p>

  <div class="main-content">
    <article class="savings-balance">
      <h2>Total savings balance</h2>
      <p>N 2,000,000.00</p>
    </article>

    <div class="family-vault-savings-plans-container">
      <div class="family-vault-savings-plan">
	<h2>Olowo Family</h2>
	<p>Monthly food savings quota</p>
	<p>N 500,000.00</p>
	<div class="family-vault-savings-plans-lower-container">
          <p class="family-vault-savings-plans-tag">Family Owner</p>
          <p class="family-vault-savings-plans-members">3 members</p>
	</div>
      </div>

      <div class="family-vault-savings-plan">
	<h2>Lekki House Family</h2>
	<p>Rent savings quota</p>
	<p>N 1,500,000.00</p>
	<div class="family-vault-savings-plans-lower-container">
          <p class="family-vault-savings-plans-tag">Family Owner</p>
          <p class="family-vault-savings-plans-members">6 members</p>
	</div>
      </div>
    </div>
  </div>
</main>
{{end}}
