{{define "title"}}Thrift{{end}}
{{define "head"}}
<link href="/static/css/thrift.css" rel="stylesheet"/>
{{end}}
{{define "main"}}
<main>
  <div class="thrift-heading-container">
    <div class="thrift-heading-container-left">
      <h1>Thrift</h1>
      <p>Leverage on the strength of a group of savers.</p>
    </div>
    <div class="thrift-heading-container-right">
      <a class="button primary" href="/dashboard/thrift/new">Start a thrift group +</a>
    </div>
  </div>

  {{if .Plans}}
  <section class="thrift-plans-container">
    {{range .Plans}}
    <article class="thrift-plan" data-id="{{.ID}}">
      <div class="thrift-plan-heading">
	<h2>{{.Name}}</h2> 
	<p>{{.Description}}</p>
      </div>
      <div class="thrift-plan-middle">
	<p>&#8358; {{.Amount}}</p>
	<p>Per person/{{.Frequency}}</p>
      </div>
      <div class="thrift-plan-bottom">
	{{if .IsCreator}}
        <p class="thrift-plan-owner-status">Group owner</p>
	{{end}}
	<p class="thrift-plan-member-amount"><strong>{{.NumberOfMembers}}</strong> members</p>
      </div>
    </article>
    {{end}}
  </section>
  {{else}}
  <section class="thrift-plans-empty-container">
    <img alt="No thrift plans" height="128" width="128" src="/static/images/empty.png"/>
    <p class="empty-thrift-plans-text">You do not belong to any groups yet</p>
  </section>
  {{end}}
</main>

<script>
  const plans = document.querySelectorAll("div[data-id]");
  for (let plan of plans) {
      plan.addEventListener('click', () => {
	  const id = plan.getAttribute("data-id");
	  if (!id) return;
	  // TODO: there should be a mechanism for dynamically inserting URLs
	  window.location.assign(`/dashboard/savings/thrift/${id}`);
      })
  }
</script>
{{end}}
