{{define "title"}}Forgot Password{{end}}
{{define "aside"}}
<aside>
  <img src="/static/images/PAZPryLogoTextInverted 1.png" alt="Paz logo">
  <div id="aside-content">
    <!-- TODO: not completed yet -->
    <h2>Bank the PAZ way!</h2>
    <p>Tips on becoming financially stable all year round!</p>
  </div>
</aside>
{{end}}
{{define "main"}}
<main id="main">
  <h1>Forgot your password</h1>
  <form action="POST" hx-boost="true">
    
    <div class="form-control">
      <label for="email">Email Address</label>
      <input id="email" name="email" type="email" value="" required="true"/>
      <div class="form-control-error-container"></div>
      <!-- TODO: add regex validation -->
    </div>
    
    <p>Still having trouble? <a href="/contact-support">Contact Support</a></p>
    <a type="submit" href="/login">Go to login</a>
  </form>
</main>
{{end}}
