{{define "title"}}Thrift{{end}}
{{define "head"}}
<link href="/static/css/thrift-individual.css" rel="stylesheet"/>
{{end}}
{{define "main"}}
<div class="container">
  <!-- <div class="control-container"> -->
    <!--   <button class="plain-button"> -->
      <!--     <- Back -->
      <!--   </button> -->
    <!-- </div> -->
  <main>
    <div class="heading-container">
      <div class="heading-container-left">
        <h1>Southern Sisters</h1>
        <p>Women helping women, Sisters helping sisters.</p>
      </div>
      <div class="heading-container-right">
        <button class="primary light">Pay round owner</button>
        <button class="primary deep">Add member +</button>
      </div>
    </div>
    <div class="information-container">
      <div class="information-pill">
        <p class="information-pill-heading">Group savings balance</p>
        <p class="information-pill-balance">&#8358; 45,000.00</p>
      </div>
      <div class="information-pill">
	<p class="information-pill-heading">Defaulting Members</p>
        <p class="information-pill-defaulters"><span class="information-pill-defaulters-number">1</span> Person</p>
      </div>
      <div class="information-pill">
	<p class="information-pill-heading">Current Round</p>
	<p class="information-pill-round-number">Round 5</p>
      </div>
      <div class="information-pill">
	<p class="information-pill-heading">Round Owner</p>
        <p class="information-pill-round-owner">Lara Oke</p>
      </div>
      <div class="information-pill">
	<p class="information-pill-heading">Round Frequency</p>
        <p class="information-pill-frequency">Monthly</p>
      </div>
      <div class="information-pill">
	<p class="information-pill-heading">Group Creator</p>
        <p class="information-pill-creator">Lara Oke</p>
      </div>
    </div>
    <div class="members-container">
      <h2>Group Members</h2>
      <div class="members-pill-container">
	<div class="members-pill round-owner">
          <img alt="" src=""/>
          <div class="members-pill-right">
            <p>Lara Oke</p>
            <p>Round 5</p>
	  </div>
	</div>
	<div class="members-pill">
	  <img alt="" src=""/>
          <div class="members-pill-right">
            <p>Tiwa Savage</p>
            <p>Round 1</p>
	  </div>
	</div>
	<div class="members-pill">
	  <img alt="" src=""/>
          <div class="members-pill-right">
            <p>Okonjo Iweala</p>
            <p>Round 3</p>
	  </div>
	</div>
	<div class="members-pill">
	  <img alt="" src=""/>
          <div class="members-pill-right">
            <p>Funke Alakija</p>
            <p>Round 4</p>
	  </div>
	</div>
	<div class="members-pill">
	  <img alt="" src=""/>
          <div class="members-pill-right">
            <p>Funke Akindele</p>
            <p>Round 6</p>
	  </div>
	</div>
	<div class="members-pill">
	  <img alt="" src=""/>
          <div class="members-pill-right">
            <p>TY Bello</p>
            <p>Round 7</p>
	  </div>
	</div>
	<div class="members-pill">
	  <img alt="" src=""/>
          <div class="members-pill-right">
            <p>Shindara Oke</p>
            <p>Round 8</p>
	  </div>
	</div>
	<div class="members-pill">
	  <img alt="" src=""/>
          <div class="members-pill-right">
            <p>Tayo Ali</p>
            <p>Round 9</p>
	  </div>
	</div>
	<div class="members-pill">
	  <img alt="" src=""/>
          <div class="members-pill-right">
            <p>Sola Allyson</p>
            <p>Round 10</p>
	  </div>
	</div>
      </div>
    </div>
    <div class="activities-container">
      <h2>Group Activities</h2>

      <div class="activity-card">
        <div class="activity-card-left-side">
          <span class="activity-card-name">Funke Akindele</span>&nbsp;
	  joined the group
	</div>
        <div class="activity-card-right-side">5 months ago</div>
      </div>
      <div class="activity-card">
        <div class="activity-card-left-side">
          <span class="activity-card-name">Funke Akindele </span>&nbsp;
	  joined the group
	</div>
        <div class="activity-card-right-side">5 months ago</div>
      </div>
      <div class="activity-card">
        <div class="activity-card-left-side">
          <span class="activity-card-name">Funke Akindele </span>&nbsp;
	  joined the group
	</div>
        <div class="activity-card-right-side">5 months ago</div>
      </div>
    </div>
  </main>
</div>
{{end}}
