body {
    position: relative;
}

#body {
    display: grid;
    grid-template-areas:
	"header header"
	"content content";
    grid-template-rows: auto 1fr;
    min-height: 100vh;
    min-width: 100vw;
}

header {
    grid-area: header;
    background-color: var(--primary-blue-3);
    height: 72px;
}

header .left-side {
    display: flex;
    padding: 4px;
}

header .left-side .img {
    height: 80%;
    width: 80%;
}

#content-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    width: 100%;
}

aside#sidebar {
    padding: 32px 14px;
    background-color: var(--gray);
}

aside#sidebar > nav > ul {
    list-style: none;
}

aside#sidebar > nav > ul > li {
    margin: 24px 4px;
}

aside#sidebar a, aside#sidebar a:link, aside#sidebar a:visited {
    color: inherit;
}

#content-container > main {
    padding: 64px;
}

